.layout {
    font : bold 22px Arial;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 100%;
}

header, footer {
    width: 100%;
    background-color: #D3D3D3;
    padding: 40px;
    margin: 5px;
    float: left;
    box-sizing: border-box;
}

sidebar {
    background-color: #D3D3D3;
    width: 23%;
    padding: 50px;
    margin: 5px;
    float: left;
    box-sizing: border-box;
}

article {
    background-color: #D3D3D3;
    width: 50%;
    padding: 50px;
    margin: 5px;
    float: left;
    box-sizing: border-box;
}
