.layout {
    font : bold 22px Arial;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 100%;
}

header, footer, aside, article {
    background-color: #D3D3D3;
}

header, footer {
    padding: 40px;
    margin: 5px;
    box-sizing: border-box;
}

.content {
    padding: 5px;
}

.content > * {
    height: 140px;
}

aside, article {
    padding: 50px;
    box-sizing: border-box;
    float: left;
}

aside {
    width: 25%;
}

article {
    width: calc(50% - 20px);
    margin: 0 10px;
}
